body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li.device {
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 25px;
  padding-bottom: 2px;
  font-size: large;
}
ul.devices {
  list-style-type: none;
  padding: 5;
  margin: 0;
}

.container {
  display: flex;
}
.container > div {
  flex: 1; /*grow*/
}